#line
    {
    border: solid rgb(34, 53, 33);
    margin-left: 200px;
    margin-right: 200px;
  
    }
    #fine{
      width: 110px;
    }
#logo 
 {
    width: 190px;
    height: 70px;
 }


#bloc1 #mun
{
  list-style-type:none;
  border: solid rgb(6, 155, 6)2px;;
  margin: 6px;
  margin-top: -2px;
}  
#mun li {
  display: inline-block;
  height: 50px;
  width: 23%;
  line-height: 50px;
  text-align:center;
  background-color: rgb(5, 26, 1);
  color:rgb(6, 155, 6);
  border-radius: 8px;
  font-style: italic;
}
#mun::after
{
  content: "";
  display: table;
  clear: both;
}
#bloc1{
  background-color: rgb(6, 155, 6);
  border-bottom-color:white;
  border-radius: 6px;
}
#bloc2
  {
    
    height: 390px;
    text-align: center;
    margin-top: 5px;
    background-color:white;
    
  }
#bloc3,#bloc4
  {
    height: 370px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 9px;
    border-radius:10px 5px 10px 5px;
 }
 #bloc3
 {
   margin-top: 7px;
   background-color:rgb(6, 155, 6);
   margin-right: 7px;
   border-radius: 8px;
 }
#bloc5, #bloc6
 {
    height: 183px;
    width: 100%;
    background-color: rgb(6, 155, 6);
    margin-left: -12px;
    margin-top: -1px;
    border-radius: 10px;
 } 
 #bloc6{
   margin-top: 3px;
   background-color: rgb(6, 155, 6);
 }

#bloc7
 {
    border: solid rgb(5, 26, 1) 1px;
    margin: 0px;
    margin-top: -2px;
    height:75px;
    background-color: rgb(5, 26, 1);
    border-radius: 6px 6px 0px 0px;

 } 
#j1,#j2,#j3
{
  display: inline-block;
  width: 32%;
  margin-top: 5px;
  margin-left: 6px;
  height: 65px;
  background-color:rgb(6, 155, 6);
  border-radius: 6px 6px 6px 6px;

}
#mun li a
{
  color: white;
  padding: 30px;
  margin: 20px;
  font-style: italic;
  text-decoration: none;
}
.sous-menu
{
  position: absolute;
  display: none;
  
  
}

#mun .sous-menu li
{
    display: block;
}
#mun li:hover .sous-menu
{
  display: block;
} 
input[type=checkbox]
{
  display: none;

}
label
{
  display: none;
}
input[type=checkbox]:checked ~ #mun
{
  display: block;
}
@media screen and (max-width: 780px) {
  .mun-mobile{
     display: block;
     color:rgb(11, 11, 37);
     background-color: rgb(6, 155, 6);
     text-align: center;
     padding: 12px 0px;
  }
  #mun
  {
    display: none;
  }
}